
<br/>
<h1 class="text-center"style="text-shadow: 3px 2px; color: black" >Coders of the Future</h1>
<p class="text-center" style="font-size:17px;">TIME TRAVEL 66K ACADEMY</p>


<h2 class="text-center" style="text-shadow: 3px 2px; color: gray"> Current Student </h2>
<br/>

<%= render partial: 'student', locals: { student: @student } %>

