<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>

<%= render partial: 'student', locals: { student: @student } %>

      <%= link_to 'Load Student From System', students_path, remote: true %>
