
<div class="container">
  <div class="row"> 
    <div class="col-8 offset-md-2"> 
      <table class="table table-bordered table-striped table-hover">
        <tbody>
          <tr>
           <td class="text-center">Cohort:</td>
           <th class="text-center"> Student:</td>
           <th class="text-center"> Action: </td>
         </tr>
         <tr> 
           <div class="col-3">
            <td class="text-center"><%= cohorts_student.cohort.name %><br /></td>
           </div>
           <div class="col-3">
            <td class="text-center"> <%= cohorts_student.student.first_name %> <%= cohorts_student.student.last_name %><br /></td>
           </div>
           <div class="col-3">
              <td class="text-center"><%= link_to '', cohorts_student_path(cohorts_student), class: "glyphicon glyphicon-trash", data: {
              confirm: "Are you sure want to delete: #{cohorts_student.student.first_name}?",}, method: :delete %> </td>
           </div>
         </tr>
        </tbody>
       </table>

  </div>
 </div>
</div>

<br>

