<h1>CohortsStudents#index</h1>
<p>Find me in app/views/cohorts_students/index.html.erb</p>

<% @cohorts_student.each do |cohorts_student| %>
Cohort: <%= cohorts_student.cohort_id %><br />
Students <%= cohorts_student.student_id %><br />
Created_at <%= cohorts_student.created_at %><br />
<% end %>