<div id="homes-show">
  <div class="welcome">
      <br/>
      <br/>
      <br/>
      <br/>

     <span class="text-center" style="font-family:sans-serif"></p> <strong> <h1>CODERS OF THE FUTURE</h1></strong></span>
<br/>
          <span class="text-center" ><strong> <h4> Welcome to Time travel 66K Academy <br>
      Coders of the future </h4></strong></span>

    
  </div>
</div>













</div>