<div id="homes-show">
    <div class="welcome">
        <br><br><br><br><br><br><br>
         <span class="text-center" style="font-family:sans-serif; text-shadow: -1px 1px" ><strong> <h4> Welcome to Time travel 66K Academy</h4></strong></span>

        <div class="coders"></p> <strong> CODERS OF THE FUTURE</strong></div>
          
           
            
                <div class="links">
                    <%= link_to "Login", admin_session_path, class: "btn-lg btn-success" %>
                    <%= link_to "Join in", new_admin_registration_path, class: "btn-lg btn-success" %> 
                </div>
   </div>  
</div>













</div>