<div id="homes-show">
  <div class="welcome">
      <br/>
      <br/>
      <br/>
      <br/>

     <span class="text-center" style="font-family:sans-serif;text-shadow:2px 2px; "></p> <strong> <h2>CODERS OF THE FUTURE</h2></strong></span>
<br/>
          <span class="text-center" style="font-family:sans-serif; text-shadow: -1px 1px" ><strong> <h4> Welcome to Time travel 66K Academy <br>
      Coders of the future </h4></strong></span>

    
  </div>
</div>













</div>