<h1>Coursecohorts#index</h1>
<p>Find me in app/views/coursecohorts/index.html.erb</p>


<% @coursecohort.each do |coursecohort| %>
Cohort: <%= coursecohort.cohort_id %><br />
Course <%= coursecohort.course_id %><br />
Created_at <%= coursecohort.created_at %><br />
<% end %>