// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#homes-index {
  h1 {
    color: red;
  }

  img {
    height: 100px;
  }

  .frame {
    height: 400px;
    width: 400px;
    background-image: image-url('home/logo.jpg');
    background-position: center center;
  }
}
