// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#homes-index, #instructor-index, #courses-index, #cohorts-index, #students-index{
  margin-top: -90px;
  h1 {
    color: red;
  }
  img {
    height: 100%px;
  }
  .frame {
    height: 100%px;
    background-image: image-url('home/image8.jpg');
    top: 0;
    background-size: cover;
  }
  .hero{
    width: 100%;
    height: 100%;
    background-image: image-url('home/image10.jpg');
    background-size: cover;
  }
  .icon{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

#forms-new{
  margin-top: -21px;
  height: 700px;
  background-image: image-url('home/shape.png');
  background-size: cover;
}

#forms-edit{
  margin-top: -21px;
  height: 700px;
  background-image: image-url('home/wave2.png');
  background-size: cover;
}

#forms-show{
  margin-top: -21px;
  height: 700px;
  background-image: image-url('home/wave1.jpg');
  background-size: cover;
}


#sessions-login {
  background-image: image-url('home/wave3.jpg');
  background-size: cover;
  height: 680px;
  margin-top: -71px;

body, html {
  height: 100%;
}  


.bg { 
  background-image: url("home/image1.jpeg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}



#sessions-new {
    background-image: image-url('home/wave3.jpg');
    background-size: cover;
    height: 680px;
    margin-top: -21px;

  body, html {
    height: 100%;
  }  


.bg { 
    background-image: url("home/image1.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
}



#homes-show{
  height: 740px;
  background-image: image-url('home/image0.jpg');
  background-size: cover;

  .coders{
    text-shadow: 2px 2px;
    text-align: center; 
    margin-top: 200px;
    font-size: 40px;
    line-height: 86px;
    position: absolute;
    width: 100%;
    }

    .links{
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  
    }
    

  .welcome{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    height: 100%;
    margin-top: -121px;
    }


}
