<h1>Cohortinstructors#index</h1>
<p>Find me in app/views/cohortinstructors/index.html.erb</p>



<div class="container">
  <div class="row"> 
  <div class="col-md-14 col"> 
      <table class="table table-bordered table-striped table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Cohort:</th>
      <th scope="col">Instructor:</th>
      <th scope="col">Created at:</th>
      
    </tr>
  </thead>
<% @cohortinstructors.each do |cohortinstructors| %>
    <tbody>
    <tr>
      <th><%= cohortinstructors.cohort_id %><br />
      <td><%= cohortinstructors.instructor.last_name %><br />
      <td><%= cohortinstructors.created_at_formatted %><br />     
    </tr>
  </tbody>
  <% end %>
</table>
</div>
</div>
</div>



